<div class="container h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="card align-items-center">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div *ngIf="!(getEmailSendStatus$ | async)">
              <form class="form-horizontal form-signin" [formGroup]="form">
                <div class="form-group row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>{{ languageConfig[(getAppLanguage$ | async).Code].inputs.email }}</label>
                      <input class="form-control"
                        [ngClass]="{ 'is-invalid': form.get('Email').touched && form.get('Email').invalid }"
                        formControlName="Email">
                      <div *ngIf="form.get('Email').errors" class="invalid-feedback">
                        <div *ngIf="form.get('Email').errors.required">
                          {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.required }}</div>
                        <div *ngIf="form.get('Email').errors.pattern">
                          {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.format }}</div>
                      </div>
                      <app-alert [alertOptions]="alertOptions"></app-alert>
                    </div>
                    <fieldset class="form-label-group">
                      <re-captcha formControlName="captcha" siteKey="6LdW55MUAAAAAHwDwHsd6xthTNrLIYzPlaPJALf6">
                      </re-captcha>
                      <div *ngIf="form.get('captcha').errors && captcha != undefined" class="tag-error">
                        Confirm captcha
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="form-group row justify-content-center">
                  <div class="col-12 text-center text-sm-left p-0">
                    <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-md btn-block"
                      (click)="newPasswordRequest()">{{ languageConfig[(getAppLanguage$ | async).Code].common.passwordRequest }}</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="text-center" *ngIf="(getEmailSendStatus$ | async)">
              <div *ngIf="!(getValidTokenStatus$ | async)">
                <p class="h5 text-success">{{ languageConfig[(getAppLanguage$ | async).Code].common.tokenEmailSent }}
                </p>
                <form class="form-horizontal form-signin" [formGroup]="tokenForm">
                  <div class="form-group row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>{{ languageConfig[(getAppLanguage$ | async).Code].common.token }}</label>
                        <input class="form-control"
                          [ngClass]="{ 'is-invalid': tokenForm.get('Token').touched && tokenForm.get('Token').invalid }"
                          formControlName="Token">
                        <div *ngIf="tokenForm.get('Token').errors" class="invalid-feedback">
                          <div *ngIf="tokenForm.get('Token').errors.required">
                            {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.required }}</div>
                          <div *ngIf="tokenForm.get('Token').errors.pattern">
                            {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.format }}</div>
                        </div>
                        <app-alert [alertOptions]="alertOptions"></app-alert>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row justify-content-center">
                    <div class="col-12 text-center text-sm-left p-0">
                      <button type="submit" [disabled]="!tokenForm.valid" class="btn btn-primary btn-md btn-block"
                        (click)="validateToken()">{{ languageConfig[(getAppLanguage$ | async).Code].common.continue }}</button>
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="(getValidTokenStatus$ | async)">
                <div *ngIf="!(getConfirmedTokenStatus$ | async)">
                  <form class="form-horizontal form-signin" [formGroup]="passwordForm">
                    <div class="form-group row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>{{ languageConfig[(getAppLanguage$ | async).Code].inputs.password }}</label>
                          <input type="password" class="form-control"
                            [ngClass]="{ 'is-invalid': passwordForm.get('Password').touched && passwordForm.get('Password').invalid }"
                            formControlName="Password">
                          <div *ngIf="passwordForm.get('Password').errors" class="invalid-feedback">
                            <div *ngIf="passwordForm.get('Password').errors.required">
                              {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.required }}</div>
                            <div *ngIf="passwordForm.get('Password').errors.minlength">
                              {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.length + ' ' + languageConfig[(getAppLanguage$ | async).Code].common.atLeast + ' 6 ' +  languageConfig[(getAppLanguage$ | async).Code].common.characters }}
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>{{ languageConfig[(getAppLanguage$ | async).Code].inputs.passwordConfirm }}</label>
                          <input type="password" class="form-control"
                            [ngClass]="{ 'is-invalid': passwordForm.get('PasswordConfirm').touched && passwordForm.get('PasswordConfirm').invalid }"
                            formControlName="PasswordConfirm">
                          <div *ngIf="passwordForm.get('PasswordConfirm').errors" class="invalid-feedback">
                            <div *ngIf="passwordForm.get('PasswordConfirm').errors.required">
                              {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.required }}</div>
                            <div *ngIf="passwordForm.get('PasswordConfirm').errors.mustMatch">
                              {{ languageConfig[(getAppLanguage$ | async).Code].inputs.errors.passwordMatch }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row justify-content-center">
                      <div class="col-12 text-center p-0">
                        <button type="submit" class="btn btn-primary btn-md" [disabled]="!form.valid"
                          (click)="setNewPassword()">{{ languageConfig[(getAppLanguage$ | async).Code].common.changePassword }}</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div *ngIf="(getConfirmedTokenStatus$ | async)">
                  <img src="/assets/images/Resource-Success.png" class="card-img-top status-img" alt="card-account-img">
                  <p class="h5 text-success">{{ languageConfig[(getAppLanguage$ | async).Code].common.passwordChanged }}
                  </p>
                  <button type="button" [routerLink]="['/']"
                    class="btn btn-primary btn-md btn-block">{{ languageConfig[(getAppLanguage$ | async).Code].common.continue }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>