<div class="card border-dark mb-3">
  <h5 class="card-header">{{ languageConfig[(getAppLanguage$ | async).Code].tfa.title }}</h5>
  <div class="card-body">
    <p class="card-text">{{ languageConfig[(getAppLanguage$ | async).Code].tfa.description }}
    </p>
    <div class="form-group">
      <p><span class="badge badge-pill badge-primary mr-2">1</span>{{ languageConfig[(getAppLanguage$ | async).Code].tfa.step1 }}</p>
    </div>
    <div class="form-group">
      <p><span class="badge badge-pill badge-primary mr-2">2</span>{{ languageConfig[(getAppLanguage$ | async).Code].tfa.step2 }}</p>
    </div>
    <div class="list-group">
      <h6 class="text-center">
          {{ languageConfig[(getAppLanguage$ | async).Code].tfa.subtitle }}
      </h6>
      <div>
        <div *ngFor="let tfa of (getTfas$ | async); let index = index">
          <button type="button" class="list-group-item list-group-item-action" data-toggle="collapse"
            [attr.data-target]="'#' + tfa.Name" aria-expanded="false"
            [attr.aria-controls]="tfa.Name">{{ tfa.Name }}</button>
          <div class="collapse" id="{{ tfa.Name }}">
            <div class="card card-body">
              <div class="row">
                <div class="col-12 text-center">
                  <p *ngIf="tfa.Id === 1; else elseBlock">{{ languageConfig[(getAppLanguage$ | async).Code].tfa.emailDescription }}
                    <strong>{{ languageConfig[(getAppLanguage$ | async).Code].tfa.emailStrongDescription }}</strong></p>
                  <ng-template #elseBlock>
                    <p *ngIf="tfa.Name === 'Google'">{{ languageConfig[(getAppLanguage$ | async).Code].tfa.googleDescription }}</p>
                    <img src="{{ tfa.QrCode }}" alt="">
                  </ng-template>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <button *ngIf="tfa.Id !== 1" type="submit" class="btn btn-small btn-block" (click)="toogleTfa(tfa)"
                      [ngClass]="{ 'btn-success': !tfa.Active, 'btn-danger': tfa.Active }">{{ !tfa.Active ? languageConfig[(getAppLanguage$ | async).Code].common.disable : languageConfig[(getAppLanguage$ | async).Code].common.enable }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>